<template>
  <div>
    <table>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>
          <v-layout>
            <v-card class="first-card">
              <div
                style="margin-left: 30px; margin-right: 10px; margin-top: 10px; float: right"
              >Total NFes</div>
              <br>
              <h1 style="margin-left: 30px; margin-right: 10px; float: right; font-size: 50px">180</h1>
            </v-card>
          </v-layout>
        </td>
        <td>
          <v-layout>
            <v-card class="card">
              <h4 style="margin-top: 15px; margin-left: 25px;">Entrada:
                <div style="color: #66BD2B; display: inline-block; font-size: 20px">1200</div>
              </h4>
              <br>
              <h4 style="margin-top: -13px; margin-left: 25px;">Saída:
                <div style="color: #F32938; display: inline-block; font-size: 20px;">221</div>
              </h4>
            </v-card>
          </v-layout>
        </td>
        <td>
          <v-layout>
            <v-card class="card">
              <div
                style="margin-left: 30px; margin-right: 10px; margin-top: 10px; float: right"
              >Total de Itens</div>
              <br>
              <h1 style="margin-left: 30px; margin-right: 10px; float: right; font-size: 50px">2210</h1>
            </v-card>
          </v-layout>
        </td>
        <td>
          <v-layout>
            <v-card class="card">
              <div
                style="margin-left: 30px; margin-right: 10px; margin-top: 10px; float: right"
              >Divergencias</div>
              <br>
              <h1 style="margin-left: 30px; margin-right: 10px; float: right; font-size: 50px;">
                <div style="color: #F32938;">32</div>
              </h1>
            </v-card>
          </v-layout>
        </td>
      </tr>
    </table>
    <br>
    <div style="float: left; display: inline-block;">
      <GChart
        :settings="{packages: ['corechart', 'bar', 'table', 'map']}"
        :data="chartData"
        :options="chartOptions"
        :createChart="(el, google) => new google.charts.Bar(el)"
        @ready="onChartReady"
      />
    </div>
    <br>
    <div style="float: right; width: 500px; heigth:400px display: inline-block;">
      <v-data-table
        :headers="headers"
        :items="desserts"
        :search="search"
        :pagination.sync="pagination"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ props.item.name }}</td>
          <td class="text-xs-right">{{ props.item.calories }}</td>
          <td class="text-xs-right">{{ props.item.fat }}</td>
          <td class="text-xs-right">{{ props.item.carbs }}</td>
          <td class="text-xs-right">{{ props.item.protein }}</td>
          <td class="text-xs-right">{{ props.item.iron }}</td>
        </template>
      </v-data-table>
      <!-- <div class="text-xs-center pt-2">
        <v-pagination v-model="pagination.page" :length="pages"></v-pagination>
      </div>-->
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    currentScreen: "dashboard",
    drawers: ["Default (no property)", "Permanent", "Temporary"],
    primaryDrawer: {
      model: null,
      type: "default (no property)",
      clipped: false,
      floating: false,
      mini: false
    },
    footer: {
      inset: false
    },
    items: [
      { title: "Dashboard", icon: "dashboard" },
      { title: "Lista de NFEs", icon: "list" }
    ],
    chartsLib: null,
    // Array will be automatically processed with visualization.arrayToDataTable function
    chartData: [
         ['Element', 'Density', { role: 'style' }],
         ['Copper', 8.94, '#FFFFFF'],            // RGB value
         ['Silver', 10.49, 'red'],            // English color name
         ['Gold', 19.30, 'gold'],
         ['Platinum', 21.45, 'color: #e5e4e2' ], // CSS-style declaration
      ],
    search: "",
    pagination: {},
    selected: [],
    headers: [
      {
        text: "Dessert (100g serving)",
        align: "left",
        sortable: false,
        value: "name"
      },
      { text: "Calories", value: "calories" },
      { text: "Fat (g)", value: "fat" },
      { text: "Carbs (g)", value: "carbs" },
      { text: "Protein (g)", value: "protein" },
      { text: "Iron (%)", value: "iron" }
    ],
    desserts: [
      {
        value: false,
        name: "Frozen Yogurt",
        calories: 159,
        fat: 6.0,
        carbs: 24,
        protein: 4.0,
        iron: "1%"
      },
      {
        value: false,
        name: "Ice cream sandwich",
        calories: 237,
        fat: 9.0,
        carbs: 37,
        protein: 4.3,
        iron: "1%"
      },
      {
        value: false,
        name: "Eclair",
        calories: 262,
        fat: 16.0,
        carbs: 23,
        protein: 6.0,
        iron: "7%"
      },
      {
        value: false,
        name: "Cupcake",
        calories: 305,
        fat: 3.7,
        carbs: 67,
        protein: 4.3,
        iron: "8%"
      },
      {
        value: false,
        name: "Gingerbread",
        calories: 356,
        fat: 16.0,
        carbs: 49,
        protein: 3.9,
        iron: "16%"
      },
      {
        value: false,
        name: "Jelly bean",
        calories: 375,
        fat: 0.0,
        carbs: 94,
        protein: 0.0,
        iron: "0%"
      },
      {
        value: false,
        name: "Lollipop",
        calories: 392,
        fat: 0.2,
        carbs: 98,
        protein: 0,
        iron: "2%"
      },
      {
        value: false,
        name: "Honeycomb",
        calories: 408,
        fat: 3.2,
        carbs: 87,
        protein: 6.5,
        iron: "45%"
      },
      {
        value: false,
        name: "Donut",
        calories: 452,
        fat: 25.0,
        carbs: 51,
        protein: 4.9,
        iron: "22%"
      },
      {
        value: false,
        name: "KitKat",
        calories: 518,
        fat: 26.0,
        carbs: 65,
        protein: 7,
        iron: "6%"
      }
    ]
  }),
  computed: {
    chartOptions() {
      if (!this.chartsLib) return null;
      return this.chartsLib.charts.Bar.convertOptions({
        chart: {
          title: "Company Performance",
          subtitle: "Sales, Expenses, and Profit: 2014-2017"
        },
        bars: "vertical", // Required for Material Bar Charts.
        hAxis: { format: "decimal" },
        height: 400,
        colors: ["#1b9e77", "#d95f02", "#7570b3"]
      });
    }
  },
  methods: {
    onChartReady(chart, google) {
      this.chartsLib = google;
    }
  }
};
</script>

<style>
.first-card {
  margin-right: 25px;
  width: 150px;
  height: 100px;
}

.card {
  margin-right: 25px;
  margin-left: 25px;
  width: 150px;
  height: 100px;
}

/* img {
    border: 2px solid #ccc;
    display: inline-block;
    margin: 4px
} */
</style>
